<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="macro_ros2_control" params="name plugin">
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>${plugin}</plugin>
            </hardware>
            <joint name="rear_left_skratch_wheel_hub_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rear_left_wheel_one_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rear_left_wheel_two_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rear_right_skratch_wheel_hub_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rear_right_wheel_one_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rear_right_wheel_two_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_left_skratch_wheel_hub_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_left_wheel_one_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_left_wheel_two_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_right_skratch_wheel_hub_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_right_wheel_one_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_right_wheel_two_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
