<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="macro_imu_gazebo" params="name parent_link namespace">

    <link name="${name}_link">
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/>
        </inertial>
      </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${name}_link"/>
      <origin xyz="0 0 0"/>
      </joint>

    <gazebo reference="${name}_link"> <!-- IMPORTANT!  it needs to be the same as the link name -->
      <gravity>true</gravity>
      <sensor name="${name}" type="imu">
        <always_on>1</always_on>
        <update_rate>100</update_rate>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>imu</topicName>
          <bodyName>${name}_link</bodyName>
          <updateRateHZ>10.0</updateRateHZ>
          <gaussianNoise>0.0</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>${name}_link</frameName>
          <initialOrientationAsReference>false</initialOrientationAsReference>
          </plugin>
        </sensor>
      </gazebo>
    </xacro:macro>

  </robot>
